# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

arcface/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Dataset
data/raw/*
data/processed/*
data/embeddings/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/embeddings/.gitkeep

# Model checkpoints
models/checkpoints/*
!models/checkpoints/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
my_task_dip.md
