# Core Python libraries
numpy
pandas
matplotlib
scikit-learn

# Torch & Vision
torch>=1.12.0
torchvision>=0.13.0

# FaceNet pretrained model
facenet-pytorch==2.5.2

# Image processing
opencv-python
Pillow

# Utilities
tqdm
PyYAML
