<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <title>Face Recognition Demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" />
        <div>
          <b>TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT TP.HCM</b><br />
          <span>Môn: Xử lý ảnh số - Face Recognition Demo</span>
        </div>
      </div>

      <nav>
        <a href="/" class="{{ 'active' if active=='home' }}">Nhận dạng</a>
        <a href="/realtime" class="{{ 'active' if active=='realtime' }}"
          >Realtime</a
        >
        <a href="/batch" class="{{ 'active' if active=='batch' }}">Batch</a>
        <a href="/evaluation" class="{{ 'active' if active=='evaluation' }}"
          >Đánh giá</a
        >
        <a
          href="/database-builder"
          class="{{ 'active' if active=='database_builder' }}"
          >Database Builder</a
        >
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
