{% extends "base.html" %}
{% block content %}

<div class="card animate">
  <h2>So sánh 2 Model</h2>
  <p class="subtitle">So sánh kết quả giữa hai mô hình nhận diện.</p>

  <form method="POST" enctype="multipart/form-data">
    <div class="upload-row">
      <div class="preview-box">
        {% if image_name %}
          <img src="{{ url_for('static', filename='uploads/' + image_name) }}">
        {% else %}Preview{% endif %}
      </div>

      <div>
        <input type="file" name="image">
        <br><br>
        <button class="btn">So sánh</button>
      </div>
    </div>
  </form>

  {% if result %}
  <div class="result-box">
    Model A: {{ result.a }}<br>
    Model B: {{ result.b }}
  </div>
  {% endif %}
</div>

{% endblock %}
