{% extends "base.html" %}
{% block content %}

<div class="card animate">
  <h2>Threshold Tuning</h2>

  <form method="POST" enctype="multipart/form-data">
    <label>Threshold: <b id="v">{{ threshold }}</b></label>
    <input type="range" name="threshold" min="0" max="1" step="0.01"
           value="{{ threshold }}"
           oninput="v.innerText=this.value">

    <div class="upload-row">
      <div class="preview-box">
        {% if image_name %}
          <img src="{{ url_for('static', filename='uploads/' + image_name) }}">
        {% else %}Preview{% endif %}
      </div>

      <div>
        <input type="file" name="image">
        <br><br>
        <button class="btn">Test Threshold</button>
      </div>
    </div>
  </form>

  {% if result %}
  <div class="result-box">
    Threshold {{ threshold }} → {{ result }}
  </div>
  {% endif %}
</div>

{% endblock %}
